<style type="text/css">
	.ngdialog-content{
		width: 800px !important;
	}
	
</style>
<div ng-controller="eventosCtrlAdd as showCase" ng-init="ini()" class="n-modal">
	<div class="row">
		<div class="col-md-12">
			<h5>Nuevo evento</h5>
		</div>		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<label>Nombre</label>
			<input class="form-control" ng-model="data.nombre" placeholder="Nombre">
		</div>
		<div class="col-md-6">
			<label>Tipo</label>
			<select class="form-control" ng-model="data.tipo_evento_id" placeholder="asd">
				<option disabled value="">Tipos de eventos</option>
				
				<option value="1">Egresados</option>
				<option value="2">Empresariales</option>
			</select>
		</div>
	</div>
	<div class="row" ng-show="data.tipo_evento_id=='1'">
		<div class="col-md-6">
			<label>Escuela</label>
			<select class="form-control" ng-model="data.model_id">
				<option ng-repeat="escuela in escuelas" value="{{escuela.id}}">{{escuela.nombre}}</option>
			</select>
		</div>		
	</div>
	<div class="row">		
		<div class="col-md-6">
			<label>Fecha</label>
			<input type="date" class="form-control" ng-model="data.fecha">
		</div>
		<div class="col-md-6">
			<label>Horario</label>
			<input type="time" class="form-control" ng-model="data.horario">
		</div>
	</div>
	<div class="row">		
		<div class="col-md-6 input-group">
			<div class="input-group-prepend">
		    	<span class="input-group-text" id="basic-addon1">$</span>
  			</div>
  			<input type="text" class="form-control" placeholder="Precio" aria-label="Precio" aria-describedby="basic-addon1"
  				   ng-model="data.precio">
  		</div>
  	</div>	
	<div class="row modal-buttons-footer">
		<div class="col-md-12">
			<button class="btn btn-primary btn-md" ng-click="submit_add()">Guardar</button>
			<button class="btn btn-default btn-sm n-left" ng-click="closeThisDialog();">Cancelar</button>
		</div>
	</div>

</div>